{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-5">
		<div ><h1>Fyyur 🔥</h1>
			<p class="lead">Where musical artists meet musical venues.</p>
			<h3>
				<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
				<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
			</h3>
			<h3>
				<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
				<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
			</h3>
			<p class="lead">Publicize about your show for free.</p>
			<h3>
				<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
			</h3></div>
	</div>
	<div class="col-sm-7 hidden-sm hidden-xs">
		<div style='border: thin dashed cadetblue;'>
			<h4  class="text-info">Recently listed artists</h4>
			<table class = 'table table-bordered table-condensed table-striped table-hover'>
				<tr class="table-secondary col-12">
					<th style="width:30%">
						<label >Name</label>
					</th>
					<th style="width:50%">
						<label >Genres</label>
					</th>
					<th style="width:20%">
						<label >Seeking venues</label>
					</th>
				</tr>
				{% for artist in artists %}
				<tr> 
					<th style="width:30%;" >
						<a style= 'cursor: pointer;width:100%;' href="/artists/{{ artist.id }}">{{artist.name}}</a>
					</th>
					<th style="width:50%">
						<label >{{ artist.genres}}</label>
					</th>
					<th style="width:20%">
						<label >
							{% if artist.seeking_venues %}
								Yes
							{% else %}
								No
							{% endif %}
						</label>
					</th>
				</tr>
		</div>
		
			{% endfor %}

		</table>
		<h4 class="text-info">Recently listed Venues</h4>
		<table class = 'table table-bordered table-condensed table-striped table-hover'>
			<tr class="table-secondary col-12">
				<th style="width:30%">
					<label >Name</label>
				</th>
				<th style="width:50%">
					<label >Genres</label>
				</th>
				<th style="width:20%">
					<label >Seeking talents</label>
				</th>
			</tr>
			{% for venue in venues %}
			<tr> 
				<th style="width:30%;" >
					<a style= 'cursor: pointer;width:100%;' href="/venues/{{ venue.id }}">{{venue.name}}</a>
				</th>
				<th style="width:50%">
					<label >{{ venue.genres}}</label>
				</th>
				<th style="width:20%">
					<label >
						{% if venue.seeking_talent %}
							Yes
						{% else %}
							No
						{% endif %}
					</label>
				</th>
			</tr>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}